<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/m5.css' %}">  
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">            
            <div class="w-on">
                <div class="title_text">
                    What's On
                </div>
                <div class="b-list">
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    <a href="community/timeline/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">20/20/21</div>
                                <div class="headcard-right">location B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>                    
                    </a>
                    
                </div>                
            </div>
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>    
    </body>
</html>

