<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m2.css' %}">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/toggle_menu.js' %}"></script>         
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">            
            <div>                
                <div class="content_text">
                    <div id="dataHtml">
                        {% if aboutus %}
                            {{ aboutus.rawHtmlData.html|safe }}
                        {% else %}
                            data not found
                        {% endif %}
                    </div>
                </div>
                <div class="social_text">
                    facebook twitter
                </div>
                <div id="footer">
                    {% include "project/footer.html" %} 
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>    
    </body>
</html>

