.wrapper{
    height: 100%;
    margin: 0 auto;
    width: 1044px;
    display: flex;
    flex-direction: column;
}            
.content {
    flex: 1;
    overflow: auto;
    width: 100%;
    flex-direction: row;
    display: flex;
}
.content-left{
    flex: 1;
    height: 100%;
    width: 720px;
}
.content-right{
    flex: 1;
    height: 100%;
    width: 720px;
}
.scroll-y{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.img-right-home{
    width: 236px;
    height: 167px;
    object-fit: cover;

}