ul.menu-comunity {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
}

li.tab-border{
    width: 180px;
    height: 30px;
    border: 1px solid #000;
    border-bottom: 0;
    padding: 0 0 0 4px;
}
li.tab-active{
    color: #fff;
    background: #0000FF;
}
.spacer{
    width: 100%;
    border-top: 1px solid #000;
}
.title_text{
    padding: 20px 0 20px 0;
}
.tag-title{
    font-size: 20px;
}
.social_text{
    padding: 10px 0 10px 0;
}
.w-on{
    margin: 0 auto;
    width: 80%;
}
.w-on-img-list{
    width: 300px;
}
.main-content{
    width: 960px;
    margin: 0 auto;
}
.hr-tags{
    margin-top: 20px;
    border-top: 1px solid #EB297B;
}
.head-box{
    font-size: 48px;
    font-family: 'NeueBit', Courier, monospace;
    font-weight: bold;
    height: 64px;  
    padding-top: 20px;
}   