<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m2.css' %}">           
         <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        
        <div id="content">
            <div class="community-tab-menu">
                <div class="title_text">นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาล</div>
                <div>
                    <ul class="menu-comunity">
                        <li class="menu-item tab-border tab-active">Essays</li>
                        <li class="menu-item tab-border"><a href="/community/timeline">Timeline</a></li>
                        <li class="menu-item tab-border"><a href="/community/map">Map</a></li>
                    </ul>
                    <div class="spacer"></div>
                </div>

            </div>
            <div>
                <div class="title_text">
                    นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่
                </div>
                <div class="content_text">
                    {% if essay %}
                    <div id="rawDataHtml">
                        {{ essay.rawHtmlData.html|safe }}
                    </div>        
                    {% else %}
                        data not found
                    {% endif %}
                </div>
                <div class="social_text">
                    <i class="fa-brands fa-facebook"></i> facebook <i class="fa-brands fa-twitter"></i> twitter
                </div>
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>    
    </body>
</html>

