<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m4.css' %}">   
        <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
        <script src="{% static 'js/toggle_menu.js' %}"></script>    
        <script>
            var map;
            function initMap() {                
                const nanglerng = { lat: 13.7591027, lng: 100.5099457 };

                map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 15,
                    center: nanglerng,
                });
                               
                const image = "{% static 'images/marker.png' %}";
                var dataMarker = [];
                {% for loc in locations %}
                    dataMarker.push({
                        position:{ lat: {{loc.lat}}, lng: {{loc.lon}} },
                        label: "{{loc.title}}",
                        locId: {{loc.id}},
                    })
                {% endfor %}
                dataMarker.forEach(e=>{
                    const marker = new google.maps.Marker({
                        position: e.position,
                        map: map,
                        label:e.label,
                        icon: image,
                        locId: e.locId
                    });
                    marker.addListener("click", () => {
                        console.log(marker.locId);
                        window.location.assign("/community/map/"+marker.locId)
                    });
                })
            }    
        </script>    

    </head>
    <body>
        {% include "project/header.html" %} 
        {% block header %}{% endblock %}        
        <div id="content">
            <div class="community-tab-menu">                
                <div>
                    <ul class="menu-comunity">
                        <li class="menu-item tab-border"><a href="/community/essay">Essays</a></li>
                        <li class="menu-item tab-border"><a href="/community/timeline">Timeline</a></li>
                        <li class="menu-item tab-border tab-active">Map</li>
                    </ul>
                    <div class="spacer"></div>
                </div>
            </div>
            <div>
                <div class="title_text">
                    นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่
                </div>
                <div class="pad-10">
                    <div class="social-icon-map">
                        <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                
                <div id="content_text">
                    <div id="left_column">                        
                        <div>รายการสถานที่</div>                        
                        <ul class="event">                            
                            {% for loc in locations %}
                            <li class="event-item"><a href="map/{{loc.id}}">{{loc.title}}</a></li>                            
                            {% endfor %}
                        </ul>                        
                    </div>
                    <div id="center_right_column">                        
                        <div class="slide">
                            <div id="map"></div>
                            <script
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy41h4x-3qDCWMMH7QDST4Xm2VQJVKd7o&callback=initMap&libraries=&v=weekly"
                                async
                            ></script>
                        </div>
                    </div>                    
                </div>
            </div>   
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>
        
    </body>
</html>

