<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/essay.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/map_location.css' %}">   
        <link rel="stylesheet" type="text/css" href="{% static 'css/image_slide.css' %}">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">        
        <link href="https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/NotoSansThaiLooped/NotoSansThaiLooped.css" rel="stylesheet" />
        <style>
            @font-face {
                font-family: 'NeueBit';
                src: url("{% static 'css/fonts/NeueBit - Regular/NeueBit-Regular.woff2' %}") format('woff2');
                font-style: normal;
                font-weight: 100;
                font-display: swap;
            }

        </style>
        <script src="{% static 'js/toggle_menu.js' %}"></script>     
    </head>
    <body>
        {% include "project/header.html" %} 
        {% block header %}{% endblock %}        
        <div id="content">
            <div class="community-tab-menu">
                <div class="text-title-show">
                    นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาล
                </div>
                <div class="tab-comunity">
                    <ul class="menu-comunity">
                        <li class="menu-item tab-border"><a href="/community/essay">Essays</a></li>
                        <li class="menu-item tab-border"><a href="/community/timeline">Timeline</a></li>
                        <li class="menu-item tab-border tab-active">Map</li>
                    </ul>
                    <div class="spacer"></div>
                </div>
            </div>
            <div>            
                <div id="content-text">
                    <div id="left-column">                        
                        <div>รายการสถานที่</div>                        
                        <ul class="event">                            
                            {% for loc in locations %}
                            <li class="event-item"><a href="../map/{{loc.id}}">{{loc.title}}</a></li>                            
                            {% endfor %}
                        </ul>                        
                    </div>
                    <div id="center-column">   
                        <div><a href="/community/map">back to map</a></div>
                        <div class="title_text">{{location.title}}</div>
                        
                        {% if postImgs %}
                        <div class="image">
                            <div class="slidercontainer">  
                                {% for img in postImgs %}

                                <div class="showSlide fade">  
                                    <img src="/media/{{ img.image }}" width="100%"/>  
                                    <div class="content"></div>  
                                </div>
                                {% endfor %}
                                <!-- Navigation arrows -->  
                                <a class="left" onclick="nextSlide(-1)">❮</a>  
                                <a class="right" onclick="nextSlide(1)">❯</a>  
                            </div>  
                            <script src="{% static 'js/image_slide.js' %}"></script>
                        </div>
                        {% endif %}


                        <div class="title_text">{{location.rawHtmlData.html | safe}}</div>
                        <div class="spacer"></div>
                        
                        {% if events %} 
                        <div class="title_text">Related Events</div>                                
                        <div class="relate-list">
                            {% for event in events %}                                    
                            <div class="relate-list-box">
                                <a href="/community/timeline/{{event.id}}">  
                                    <div class="headcard">
                                        <div class="headcard-left">{{event.eventTime}}</div>
                                        <div class="headcard-right">{{event.culture}}</div>
                                    </div>                                
                                    <div><img class="imgCover" src="/media/{{ event.imgCover }}"></div>
                                    <div>{{event.title}}</div>
                                </a>
                            </div>
                            {% endfor %}                                    
                        </div>
                        {% endif %}       
                        {% if articles %} 
                        <div class="title_text">Related Articles</div>                                
                        <div class="relate-list">
                            {% for article in articles %}                                    
                            <div class="relate-list-box">
                                <a href="/article/{{article.id}}">  
                                    <div class="headcard">
                                        <div class="headcard-left">{{article.eventTime}}</div>
                                        <div class="headcard-right">{{article.culture}}</div>
                                    </div>                                
                                    <div><img class="imgCover" src="/media/{{ article.imgCover }}"></div>
                                    <div>{{article.title}}</div>
                                </a>
                            </div>
                            {% endfor %}                                    
                        </div>
                        {% endif %}                       
                    </div>
                    <div id="right-column">
                        <i class="fa-brands fa-facebook"></i> &nbsp; &nbsp; <i class="fa-brands fa-twitter"></i>
                        <div>{{loc.eventTime}}</div>
                        {%if loc.parent %}
                        <div><a href="/community/map/{{loc.parent.id}}">{{event.parent}}</a></div>
                        {% endif %}
                        {% for tag in loc.tags.all %}
                            <div class="tag-right"><a href="/tags/{{tag.name}}">*{{tag.name}}</a></div>
                        {% endfor %}
                    </div>                    
                </div>
            </div>   
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>        
    </body>
</html>