<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m2.css' %}">   
        <link rel="stylesheet" type="text/css" href="{% static 'css/m3.css' %}">   
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">        
        <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">
            <div class="community-tab-menu">                
                <div>
                    <ul class="menu-comunity">
                        <li class="menu-item tab-border"><a href="/community/essay">Essays</a></li>
                        <li class="menu-item tab-border tab-active">Timeline</li>
                        <li class="menu-item tab-border"><a href="/community/map">Map</a></li>
                    </ul>
                    <div class="spacer"></div>
                </div>
            </div>
            <div>
                <div class="title_text">
                    {{event.title}}
                </div>
                <div id="content_text">
                    <div id="left_column">
                        <div>เหตุการณ์ทั้งหมด</div>
                        <ul class="event">    
                            {% for e in events %}          
                            <li class="event-item"><a href="/community/timeline/{{e.id}}">{{e.title}}</a></li>
                            {% endfor %}                            
                        </ul>                        
                    </div>
                    <div id="center_column">
                        <div>
                            <div class="title_text">{{event.title}}</div>
                            <div>
                                {{event.rawHtmlData.html|safe }}
                            </div>
                        </div>
                        
                        {% if postImgs %}
                        <div id="list-image">
                            {% for img in postImgs %}
                            <div class="image"><img src="/media/{{ img.image }}" width="100%"></div>                            
                            {% endfor %}
                        </div>           
                        {% endif %}                                     
                    </div>
                    <div id="right_column">
                        <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>
        
    </body>
</html>

