<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">   
        <link rel="stylesheet" type="text/css" href="{% static 'css/essay.css' %}">   
        <link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">        
        <link href="https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/NotoSansThaiLooped/NotoSansThaiLooped.css" rel="stylesheet" />
        <style>
            @font-face {
                font-family: 'NeueBit';
                src: url("{% static 'css/fonts/NeueBit-Bold/NeueBit-Bold.woff2' %}") format('woff2');
                font-style: normal;
                font-display: swap;
            }

        </style>
         <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">
            <div class="community-tab-menu">
                <div class="text-title-show">
                    นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาล
                </div>
                <div class="tab-comunity">
                    <ul class="menu-comunity">
                        <li class="menu-item tab-border "><a href="/community/essay">Essays</a></li>
                        <li class="menu-item tab-border tab-active">Timeline</li>
                        <li class="menu-item tab-border"><a href="/community/map">Map</a></li>
                    </ul>
                    <div class="spacer"></div>
                </div>
            </div>
            <div>
                <div id="content-text">
                    <div id="left-column">
                        <div class="title-left">เหตุการณ์ทั้งหมด</div>
                        <ul class="event">    
                            {% for e in events %}          
                            <li class="event-item"><a href="/community/timeline/{{e.id}}">{{e.title}}</a></li>
                            {% endfor %}                            
                        </ul>                        
                    </div>
                    <div id="center-column">
                        <div>
                            <div class="title-text">{{event.title}}</div>
                            <div>
                                {{event.rawHtmlData.html|safe }}
                            </div>
                        </div>                        
                        {% if postImgs %}
                        <div id="list-image">
                            {% for img in postImgs %}
                            <div class="image"><img src="/media/{{ img.image }}" width="100%"></div>                            
                            {% endfor %}
                        </div>           
                        {% endif %}                                     
                    </div>
                    <div id="right-column">
                        <div class="hr-line-resonsive"></div>
                        <i class="fa-brands fa-facebook"></i> &nbsp; &nbsp; <i class="fa-brands fa-twitter"></i>
                        <div>{{event.eventTime}}</div>
                        {%if event.parent %}
                        <div><a href="/community/map/{{event.parent.id}}">{{event.parent}}</a></div>
                        {% endif %}
                        {% for tag in event.tags.all %}
                            <div class="tag-right"><a href="/tags/{{tag.name}}">*{{tag.name}}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
            <div id="list-timeline">
                <div class="list-event">
                    <a href="#" onclick="showEventList()">
                        Select Events
                        <div class="arrow-up"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="list-event-menu" class="mini-menu">
            <div class="head-mini-menu">
                <a class ="btn-close link-mini" href="#" onclick="hidePopupListEvent()">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="event-link-list-mini">
                <div class="">เหตุการณ์ทั้งหมด</div>
                <ul class="event-link-list-item">    
                    {% for e in events %}          
                    <li class="event-item-mini"><a href="/community/timeline/{{e.id}}">{{e.title}}</a></li>
                    {% endfor %}                            
                </ul> 
            </div>
        </div> 
    </body>
</html>

