<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/m3.css' %}">   
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
         <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">
            <div class="community-tab-menu">
                <div class="title_text">นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาล</div>
                <div>
                    <ul class="menu-comunity">
                        <li class="menu-item tab-border"><a href="/community/essay">Essays</a></li>
                        <li class="menu-item tab-border tab-active">Timeline</li>
                        <li class="menu-item tab-border"><a href="/community/map">Map</a></li>
                    </ul>
                    <div class="spacer"></div>
                </div>
            </div>
            <div>
                <div class="title_text">
                    นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่
                </div>
                <div id="content_text">
                    <div id="left_column">                        
                        <div>2021</div>
                        <ul class="event">                            
                            <li class="event-item"><a href="/community/timeline/1">1. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">2. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">3. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">4. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">5. Lorem Ipsum is simply dummy text of </a></li>
                        </ul>
                        <div>2020</div>
                        <ul class="event">                            
                            <li class="event-item"><a href="/community/timeline/1">1. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">2. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">3. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">4. Lorem Ipsum is simply dummy text of </a></li>
                            <li class="event-item"><a href="/community/timeline/1">5. Lorem Ipsum is simply dummy text of </a></li>
                        </ul>
                    </div>
                    <div id="center_column">
                        <div>
                            <div class="title_text">Title</div>
                            <div>
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                            </div>
                        </div>
                        
                        <div id="list-image">
                            <div class="image"><img src="{% static 'images/example.png' %}"></div>
                            <div class="image"><img src="{% static 'images/example.png' %}"></div>
                            <div class="image"><img src="{% static 'images/example.png' %}"></div>
                            <div class="image"><img src="{% static 'images/example.png' %}"></div>
                            <div class="image"><img src="{% static 'images/example.png' %}"></div>
                            <div class="image"><img src="{% static 'images/example.png' %}"></div>                        
                        </div>                        
                    </div>
                    <div id="right_column">
                        facebook twitter
                    </div>
                </div>
            </div>
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>
        
    </body>
</html>

