<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m1.css' %}">   
         <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        
        <div id="content">
            {% include "project/header.html" %} 
            {% block header %}{% endblock %}        

            <div class="column">
                {% include "home/left_content.html" %} 
                {% block left_content %}{% endblock %}        
            </div>
            <div class="column">
                {% include "home/right_content.html" %} 
                {% block right_content %}{% endblock %}        
            </div>
            {% include "project/footer.html" %} 
            {% block footer %}{{ section.title }}{% endblock %}
        </div>
        
        
    </body>
</html>

