<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/m1.css' %}">   
         <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        <div id="header">
            <!-- <div id="div-menu"> -->
                <ul class="menu ">
                    <li class="menu-item" id="menu-page">                        
                        <div><a href="#" onclick="openSubmenu()">Nanglerng community</a></div>  
                        <div id="sub-menu-title">
                            <div id="list-community">
                                <a href="/community/essay">Eassy</a>
                                <a href="/community/timeline">Timeline</a>
                                <a href="/community/map">Maps</a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item"><a href="/whatson">What’s on</a></li>
                    <li class="menu-item"><a href="/article">Articles</a></li>
                    <li class="menu-item"><a href="/aboutus">About us</a></li>
                </ul>
            <!-- </div> -->
            <div class="text-right"><a href="/tags">* tags</a></div>
        </div>
        <div id="content">
            <div class="column">                
                <div class="main-image-left">
                    <img src="{% static 'images/example.png' %}" width="100%" height="100%">
                    <div class="label_img">นางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก่ดึกดำบรรพ์มาแต่โบราณกาลนางเลิ้งเป็นชุมชนเก่าแก <a href="/community/essay"> read more</a></div>
                </div>            
            </div>
            <div class="column">
                <div class="content-box">
                    <div class="bb">
                        <div class="head-left-box">What's on</div>
                        <div class="b-list">
                            <div class="llist">
                                <a href="community/timeline/2" class="text-detail-right">
                                    <div class="headcard">
                                        <div class="headcard-left">20/20/21</div>
                                        <div class="headcard-right">location B</div>
                                    </div>                                
                                    <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                                    <div>desc</div>    
                                </a>                        
                            </div>
                            <div class="llist">
                                <a href="community/timeline/3" class="text-detail-right">
                                    <div class="headcard">
                                        <div class="headcard-left">20/20/21</div>
                                        <div class="headcard-right">location A</div>
                                    </div>                                
                                    <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                                    <div>desc</div>
                                </a>
                            </div>                            
                        </div>
                        <div class="more"><a href="/whatson">see all events</a></div>                        
                    </div>
                    <div  class="bb">
                        <div class="head-left-box">Get to know nanglerng</div>
                        <a href="community/map/1"  class="text-detail-right">
                            <div ><img src="{% static 'images/example.png' %}" width="100%" height="40%"></div>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            <div class="more"><a href="">read more</a></div>
                        </a>
                    </div>
                    <div class="bb">
                        <div class="head-left-box">Article</div>
                        <div class="b-list">                   
                            <div class="llist">
                                <a href="/article/7" class="text-detail-right">
                                    <div class="headcard">
                                        <div class="headcard-left">culture</div>
                                        <div class="headcard-right">contributor A</div>
                                    </div>
                                    <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                                    <div>Lorem Ipsum is simply dummy text of the printing typesettin...</div>
                                </a>
                            </div>
                            <div class="llist">
                                <a href="/article/8" class="text-detail-right">
                                    <div class="headcard">
                                        <div class="headcard-left">culture</div>
                                        <div class="headcard-right">contributor A</div>
                                    </div>
                                    <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                                    <div>Lorem Ipsum is simply dummy text of the printing typesettin...</div>
                                </a>
                            </div>
                            <div class="llist">
                                <a href="/article/9" class="text-detail-right">
                                    <div class="headcard">
                                        <div class="headcard-left">culture</div>
                                        <div class="headcard-right">contributor A</div>
                                    </div>
                                    <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                                    <div>Lorem Ipsum is simply dummy text of the printing typesettin...</div>
                                </a>
                            </div>
                            <div class="llist">
                                <a href="/article/10" class="text-detail-right">
                                    <div class="headcard">
                                        <div class="headcard-left">culture</div>
                                        <div class="headcard-right">contributor A</div>
                                    </div>
                                    <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                                    <div>Lorem Ipsum is simply dummy text of the printing typesettin...</div>
                                </a>
                            </div>
                        </div>
                        <div class="more"><a href="/article">see all article</a></div>
                    </div>                    
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="footer-box">
                <div class="footer-tradmark">Community Lab 23 Nakhon Sawan Rd, Wat Sommanat, Pom Prap Sattru Phai, Bangkok 10100</div>
                <div class="footer-social"><a href="">facebook</a> <a href="">instagram</a></div>
            </div>
        </div>
    </body>
</html>

