<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m2.css' %}">  
        <link rel="stylesheet" type="text/css" href="{% static 'css/article_detail.css' %}">  
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/toggle_menu.js' %}"></script> 
        
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">            
            <div>
                <div id="content_text">                    
                    <div id="left_center_column">
                        <div>
                            <div class="title_text">Title</div>
                            <div>
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                                detail detail detail detaildetail detaildetail detaildetail detaildetail detaildetail detaildetail detail
                                If you are connected but behind a firewall, check that Firefox has permission to access the Web
                            </div>
                        </div>
                    </div>
                    <div id="right_column">
                        <div class="title_text">Culture</div>
                        <div>สถานที่กอไก่</div>
                        <div>นักเขียนกอไก่</div>
                        <div>12/06/2021</div>                        
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="footer-box">
                    {% include "project/footer.html" %} 
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>        
    </body>
</html>

