<html>
    <head>
        <title>NANGLERNG COMMUNITY</title>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/m5.css' %}">   
        <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">   
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/toggle_menu.js' %}"></script> 
    </head>
    <body>
        {% include "project/header.html" %}         
        {% block header %}{% endblock %}
        <div id="content">            
            <div class="w-on">
                <div class="title_text">
                    Articles
                </div>
                <div class="b-list">
                    {%for article in articles %}
                    <a href="article/{{article.id}}">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">{{article.culture}}</div>
                                <div class="headcard-right">{{article.contribute}}</div>
                            </div>                                
                            {% if article.imgCover != "" %}   
                            <div><img src="media/{{ article.imgCover }}" width="100%"></div>
                            {% else %}
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            {% endif %}                                            
                            <div>{{article.title}}</div>                            
                        </div>
                    </a>
                    {% endfor %}
                    <!-- <a href="article/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">Culture</div>
                                <div class="headcard-right">Contributor B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>
                    </a>
                    <a href="article/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">Culture</div>
                                <div class="headcard-right">Contributor B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>
                    </a>
                    <a href="article/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">Culture</div>
                                <div class="headcard-right">Contributor B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>
                    </a>
                    <a href="article/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">Culture</div>
                                <div class="headcard-right">Contributor B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>
                    </a>
                    <a href="article/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">Culture</div>
                                <div class="headcard-right">Contributor B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>
                    </a>
                    <a href="article/1">
                        <div class="w-on-img-list">                                
                            <div class="headcard">
                                <div class="headcard-left">Culture</div>
                                <div class="headcard-right">Contributor B</div>
                            </div>                                
                            <div><img src="{% static 'images/example.png' %}" width="100%"></div>
                            <div>desc</div>                            
                        </div>
                    </a>                                  
                </div>                 -->
            </div>
            <div id="footer">
                {% include "project/footer.html" %} 
                {% block footer %}{% endblock %}
            </div>
        </div>    
    </body>
</html>

