{% block header %}
<div id="header">
    {% load static %}
        <ul class="menu ">
            <li class="menu-item" id="menu-page">                                        
                <div class="logo-menu">
                    <a href="/"><img class="img-home" src="{% static 'images/logo.svg' %}" /></a>                
                </div>
            </li>            
            <li class="menu-item" id="menu-page">                                        
                <div><a href="#" onclick="openSubmenu()">Nanglerng community</a></div>                  
            </li>
            <li class="menu-item"><a href="/whatson">What’s on</a></li>
            <li class="menu-item"><a href="/article">Articles</a></li>
            <li class="menu-item"><a href="/aboutus">About us</a></li>
        </ul>
    <div class="text-right"><a href="/tags"><i class="fa-solid fa-asterisk"></i> tags</a></div>
    <div id="sub-menu-title">
        <div id="list-community">
            <ul class="menu">
                <li class="menu-item"><a href="/community/essay">Eassy</a></li>
                <li class="menu-item"><a href="/community/timeline">Timeline</a></li>
                <li class="menu-item"><a href="/community/map">Maps</a></li>
            </ul>
            
            
            
        </div>
    </div>
</div>
{% endblock header %}

