{% block header %}
<div id="header">
    {% load static %}
        <ul class="menu ">
            <li class="menu-item" id="menu-page">                                        
                <div class="logo-menu">
                    <a href="/"><img class="img-home" src="{% static 'images/logo.svg' %}" /></a>                
                </div>
            </li>            
            <li class="menu-item lst-menu" id="menu-page">                                        
                <div><a href="#" onclick="openSubmenu()">Nanglerng community</a></div>                  
            </li>
            <li class="menu-item lst-menu"><a href="/whatson">What’s on</a></li>
            <li class="menu-item lst-menu"><a href="/article">Articles</a></li>
            <li class="menu-item lst-menu"><a href="/aboutus">About us</a></li>
        </ul>
    <div class="text-right">
        <div class="tag-main-right">
            <a class="text-right" href="/tags"><i class="fa-solid fa-asterisk"></i> tags</a>
        </div>
        <div class="mini-hamberger">
            <a href="#" onclick="showLinkPopup()"><img src="{% static 'images/gg_menu.svg' %}" /></a>
        </div>       
    </div>
    <div id="sub-menu-title">
        <div id="list-community">
            <ul class="menu">
                <li class="menu-item"><a href="/community/essay">Eassy</a></li>
                <li class="menu-item"><a href="/community/timeline">Timeline</a></li>
                <li class="menu-item"><a href="/community/map">Maps</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="mini-menu" class="mini-menu">
    <div class="head-mini-menu">
        <a class ="btn-close link-mini" href="#" onclick="hidePopupMiniMenu()">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
    <ul class="menu-mini">
        <li>
            <div class="link-menu-main">
                <a class ="link-mini" href="#" onclick="openSubMenuMobile()">Nanglerng community</a>
                <div class="txt-expands"><i class="fa-solid fa-angle-down"></i></div>
            </div>
            <div id="sub-menu">
                <ul class="menu-mini sub-menu">
                    <li><div class="link-menu-main"><a class ="link-mini" href="/community/essay">Eassy</a></div></li>
                    <li><div class="link-menu-main"><a class ="link-mini" href="/community/timeline">Timeline</a></div></li>
                    <li><div class="link-menu-main"><a class ="link-mini" href="/community/map">Maps</a></div></li>
                </ul>
            </div>
        </li>
        <li><div class="link-menu-main"><a class ="link-mini" href="/whatson">What’s on</a></div></li>
        <li><div class="link-menu-main"><a class ="link-mini" href="/article">Articles</a></div></li>
        <li><div class="link-menu-main"><a class ="link-mini" href="/aboutus">About us</a></div></li>
    </ul>
    <div class="link-menu-main btn-close mini-tags"><a class ="link-mini" href="/tags">Tag*</a></div>
</div> 

{% endblock header %}

